@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #3c323c;
    --background-end-rgb: #3c323c;
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
  
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:where(.css-dev-only-do-not-override-1ltb402).ant-carousel{
    height: 100%;
}

.flex-center{
    @apply flex items-center justify-center
}
.button{
    background-color: #a3847f;
    transition: background-color ease-in 0.7s;
}
.button:hover{
    color: #3c323c;
}
/* .description li::before{
    content: "▹";
} */
.code-tool{
    @apply border-2 border-sec rounded-3xl py-2 px-4 bg-sec cursor-pointer font-semibold text-sm text-nowrap
}

.show {
    opacity: 1;
}
.no-scroll-bar::-webkit-scrollbar{
    display: none;
}
.techused li{
    cursor: pointer;
    @apply transition-colors duration-[1s] hover:text-pri
}
.menu-link{
    @apply transition-colors ease-in-out duration-1000 text-sec hover:text-sec-3
}
.active{
    @apply text-sec-5 italic font-semibold
}

.cardpad{
    margin-left: -110px;
}
.cardpadright{
    margin-right: -110px;
}
.slideDown{
    animation: dropdown 8s;
}
.drop-down{
    position: absolute;
    animation: dropdown 8s infinite;
}
@keyframes dropdown {
    0%   {top: 0;}
    /* 25%  {top: 5%;} */
    /* 50%  {top: 15%;} */
    100% {top: 40%;}
}

@media (max-width:768px) {
    .cardpad{
        margin-left: 0px;
    }
    .cardpadright{
        margin-right: 0px;
    }
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}